*{
  padding: 0;
  margin: 0;
}
h1{
  text-align: center;
  margin-top: 20px;
}
span{
  float: right;
  margin-top: -14px;
  font-size: 18px !important;
  cursor: pointer;
}
h5{
  font-size: 13px;
}
.table-data{
  overflow-y: auto;
  height:85vh;
  margin: 20px;
  overflow: auto;
}
th{
  top: 0;
  position: sticky;
  background-color: rgb(243, 243, 243);
  min-width: 50px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  font-size: 14px;
  padding: 8px 0px 8px 5px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/*filter*/
.filter{
  position: absolute;
  background-color: white;
  top: 90%;
  width: 100px;
  right: 0;
  border: 1px solid #dddddd;
  border-radius: 2px;
}
.filter>p{
  padding: 10px 6px;
  border-bottom: 1px solid #dddddd;
  font-weight: 500;
}

.filter>p:hover{
  background-color: #dddddd;
  cursor: pointer;
}